/*----------------------- IMPORT FONT ------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
// font-family: 'Roboto', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i);
// font-family: 'Lato', serif;
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700);
// font-family: 'Roboto Slab', serif;
@import url(https://fonts.googleapis.com/css?family=Qwigley);
// font-family: 'Qwigley', cursive;
@import url(https://fonts.googleapis.com/css?family=Expletus+Sans:400,400i,500,500i,600,600i,700,700i);
// font-family: 'Expletus Sans', cursive;

// 992
@Roboto: 'Roboto', sans-serif;
@roboto_slab: 'Roboto Slab', serif;
@lato: 'Lato', serif;
@qwigley: 'Qwigley', cursive;
@expletus: 'Expletus Sans', cursive;
@font_set: 'Lato', 'Roboto', serif;

@background: #fff;

/*-------------------------- -- GENERAL -------------------------*/
img{
  border: none;
  user-drag: none;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
html,body{
    height: 100%;
    /*width: 100%;*/
}
#pushstat{ display: none; }
body{
    background: transparent;
    margin: 0;
    padding: 0;
    
    font-family: @font_set;
    font-weight: 400;
    font-size: 12px;
    
    color: #000000;
    background-color: @background;
}
html, body{
  margin: 0px; padding: 0px;
}

a:focus{
    outline: none;
}
html, body, p, span, div, h1, h2, h3 ,h4 ,h5 ,h6, ul, li, ol, a, table, tr, td, th{
    font-family: @font_set;
    font-weight: 400;
}

.prelatif{
    position: relative;
    /*height: 100%;*/
}
.prelatife{
    position: relative;
}
body{
    /*test for not responsive*/
    /*min-width: 1320px;*/
}
@media (min-width: 1365px){
    .container {    
        max-width: 1320px;
        /*width: 1320px;*/
    }
}
.h100per{
  height: 100%;
}

.container {
    /*height: 100%;*/
    /*test for not responsive*/
    /*min-width: 1320px;*/

    max-width: 1320px;
    width: 1320px;
    margin: 0 auto;
    padding: 0px;
}
.center{
    text-align: center;
}
.tengah{
    margin: 0 auto;
    padding: 0px;
}
.row{
    margin: 0px;
}
[class*="span"] {
    margin: 0;
}
[class*="col-xs"]{
    padding: 0;
}
[class*="col-md"] {
    padding: 0;
}
[class*="col-lg"] {
    padding: 0;
}
.row.default{
  margin: 0 -15px;
}
.row.default > [class*="span"],
.row.default > [class*="col-xs"],
.row.default > [class*="col-md"],
.row.default > [class*="col-sm"],
.row.default > [class*="col-lg"]
{
    padding: 0 15px;
}
.row.default_detail_p{
  margin: 0 -10px;
}
.row.default_detail_p > [class*="span"],
.row.default_detail_p > [class*="col-xs"],
.row.default_detail_p > [class*="col-md"],
.row.default_detail_p > [class*="col-sm"],
.row.default_detail_p > [class*="col-lg"]
{
    padding: 0 10px;
}
.d-inline{
  display: inline-block;
  vertical-align: top;
}

#preloader {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #dadbdb url(../images/bgloader.jpg) left top repeat-x;
    height: 100%;
    z-index: 1500;
}
#statusloader {
    text-align: center;
    margin: 0 auto;
    left: inherit;
    width: 100%;
    vertical-align: middle;

    height: 100px;
    position: absolute;
    top: 36%;
    background-image: url(../images/loading2.gif);
    background-repeat: no-repeat;
    background-position: center center;
}
.d-inline{ display: inline-block; }

// -----------------------------------------------------------
.back-white{
  background-color: #fff;
}
.d-inline.v-top{
  display: inline-block;
  vertical-align: top;
}
.h100p{
  height: 100%;
}

.v-top{
  vertical-align: top;
}
img.pc-center{
  display: block; margin: 0 auto; text-align: center;
}
.mb-0{
  margin-bottom: 0;
}
.lines-white{
  height: 1px; background-color: #fff;
}

a:focus,
a:hover{
  text-decoration: none;
}

header.head{
  position: relative;
  z-index: 35;
  width: 100%;
  height: 147px;
  background-color: #fff; 
  background: url(../images/back-header_outers_orange.jpg) repeat-x;
  .tops{
    // padding-top: 10px;
    height: 79px;
  }
  .bottoms{
    min-height: 50px; height: auto;
    width: 100%;
    // background-color: #27377d;
    position: relative;
    z-index: 5;
  }
  .rights_header{
    float: right;
    .nhc_text_header{
      text-align: right;
      a{
        margin: 0; padding: 0;
        font-size: 11px; font-weight: 700; color: #2e3192;
        text-decoration: none;
        i.fa{
          font-size: 13px; color: #24a7e0;
        }
      }
      a:focus,
      a:hover{
        text-decoration: none;
        color: #000;
      }
    }

    .boxs_account_loginHeader{
      padding-top: 25px; padding-right: 30px;
      padding-left: 30px;
      a{
        text-decoration: none;
        i.fa.fa-bg_account{
          margin: 0; padding: 0;
          display: inline-block;
          content: "";
          background: url(../images/icn-oranges_user.png) no-repeat;
          width: 29px; height: 29px;
          float: left;
          margin-right: 5px;
        }
        span{
          vertical-align: middle;
          display: inline-block; padding-top: 5px;
          font-size: 13px; font-weight: 700; color: #555555;
        }
        clear: both;
      }
    }
    .boxs_bCart{
      a{
        i.fa{
          margin: 0; padding: 0;
          display: inline-block;
          content: "";
          background: url(../images/icn-baskets.png) no-repeat;
          width: 36px; height: 32px;
          float: left;
          margin-right: 5px;
        }
        display: block;
        span{
          display: inline-block;
          background: url(../images/backs_tgn_right_fcCart.png) no-repeat;
          width: 51px; height: 32px;
          margin: 0px; padding: 0px;
          padding: 8px 15px;
          font-size: 13px; font-weight: 700; color: #fff;
          text-align: center;
        }
      }
      background-color: #eaeaea; 
      min-width: 120px;
      width: auto;
      max-width: 125px;
      min-height: 79px;
      padding: 0 15px;
      padding-top: 25px;
      height: 100%;
    }
    .b_search{
        padding-top: 0px;
        padding-top: 20px;
        form{
          margin: 0; padding: 0;
          .form-group{
            float: left;
            margin-right: 0; padding-right: 0;
            label{}
            input{
              width: 417px;
              background-color: #f2f2f2;
              border-color: transparent;
              border-radius: 0px;
              box-shadow: none;
              height: 39px;
              border: 0px;
              border-radius: 15px;
            }
            button{
              border: 0px;
              background-color: transparent;
              width: auto;
              height: auto;
              position: absolute;
              top: 4px; right: 15px;
              i.fa{
                font-size: 18px; color: #f45302;
              }
            }
          }
        }
      }
    /* End box search */
    clear: both;
  }

  .top-menu{
      margin: 0; text-align: center;
      display: inline-block;
      margin: 0 auto;
      width: 100%;
      // max-width: 1230px; 
      ul{
        text-align: center; margin: 0px; padding: 0px;
        width: auto;
        position: relative;
        
        // display: -webkit-inline-flex;
        // display: -ms-inline-flexbox;
        // display: inline-flex;
        // white-space: nowrap; 
        margin: 20px auto 0;
        max-width: 945px;
        li{
          margin: 0; padding: 0px 15px;
          display: table;
          border-right: 1px solid #fff;
          min-height: 30px; height: 30px;
          max-width: inherit;
          text-align: center;
          float: left;
          line-height: 1.2;
          position: static;
          a{
            font-family: @lato;
            color:#fff;
            font-size: 15px;
            font-weight: 900;
            text-decoration: none; 
            text-transform: capitalize;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            width: 100%;
            height: 100%;
          }
        }

        li:last-child{
          padding-right: 0;
          border-right: 0;
        }
        li:first-child{
          padding-left: 0;
          border-left: 0;
        }
        li.active,
        li:hover{
          // background-color: #fdbb30;
          background-color: transparent;
          a{ text-decoration: none; color: #f5f5f5; }
          .blocks_dropDown_menu_fx{
            visibility: visible; /* shows sub-menu */
            opacity: 1;
            z-index: 1;
            transform: translateY(0%);
            transition-delay: 0s, 0s, 0.3s;
          }
        }
      }
    }
  // end top menu
  clear: both;  
}

// .header-affixs.affix-top{ top: -1000px; position: fixed; visibility: collapse; }
// .header-affixs.affix{ top: 0px; left: 0px; }
// .header-affixs{
//     background-color: rgba(255, 255, 255, 0.90);
//     width: 100%;
//     z-index: 1000;
//     height: 75px;
//     border-bottom: 3px solid #835f20;
//     z-index: 1000;
//     .lgo-web-web_affix{
//       a{
//         font-family: @font_set;
//         font-size: 24px; font-weight: 700; color: #252223;
//         text-decoration: none; text-transform: uppercase;
//       }
//     }
// }
// .menu-taffix{
//     text-align: right;
// }
// .menu-taffix ul{ margin: 0; padding: 0px; float: none; }
// .menu-taffix ul li{ padding: 0px; padding: 5px 15px; float: none; display: inline-block; }
// .menu-taffix ul li a{ font-family: @font_set; font-size: 16px; font-weight: 700; display: inline-block; padding-top: 0; color: #000; padding-left: 0; padding-right: 0; text-decoration: none; text-transform: uppercase; }
// .menu-taffix ul li.active a,
// .menu-taffix ul li a:hover{ text-decoration: none; color: #835f20; background-color: transparent; }
 
.nl_popup{
  position: relative; display: inline-block;
}
.popup_carts_header:hover,
.popup_carts_header:focus,

.nl_popup:hover a > .popup_carts_header,
.nl_popup:hover > .popup_carts_header{
  // display: block;
}

.middles_wrapper_cont{
  margin: 0; padding: 0;
  background-color: #fff;
  min-height: 500px; height: auto;
  width: 100%;
}
.middles_wrapper_cont.tops_home{
  background:#fff url(../images/backs-outers-inMiddles_cont_top.jpg) repeat-x;
  height: auto;
}

.m-0,
h1.m-0{ margin: 0; }

.outers_fcs_wrapper{
  position: relative; z-index: 2;
  height: auto;
  
  .backs_shadow_bottom_fn{
    position: absolute;
    left: 0px;
    z-index: 5;
    bottom: -20px;

    margin: 0 auto;

    width: 1310px; height: 30px;
    background: url(../images/backs_block_bottom_dnFcs.png) no-repeat;
  }
  #myCarousel_home{
    position: relative;
    z-index: 50;
    border: 2px solid #fff;
    max-height: 527px;
    // overflow: hidden;
  }
  .carousel{
    height: 100%;
    .carousel-inner{
      height: 100%;
      .item{
        height: 100%;
      }
    }  
  }
  .carousel-inner{
    .item{
      img.full_img{ 
        width: 100%; 
      }
    }
  }
  ol.carousel-indicators{
    bottom: -40px; 
    left: 0; width: 100%; text-align: center;
    margin: 0;
    // width: auto;
    li{
      margin: 0 2px;
      border: 0px;
      border-radius: 0px;
      width: 13px; height: 13px;
      background: url(../images/toc-fcs.png) no-repeat;
    }
    li:hover,
    li:focus,
    li.active{
      margin: 0 2px;
      border: 0px;
      border-radius: 0px;
      width: 13px; height: 13px;
      background: url(../images/toc-fcs-active.png) no-repeat; 
    }
  }
    // end carousel indicator
    .carousel-caption{
      right: inherit;
      left: 0px;
      padding-bottom: 0;
      padding-top: 0;
      text-shadow: none;
      bottom: 30%;
      width: 100%;

      .bxsl_tx_fcs{
        max-width: 650px; margin: 0 auto;
        text-align: center;
        h3{
          font-size: 35px; font-weight: 600; color: #fff;
          line-height: 1;
          margin: 0; padding: 0;
          margin-bottom: 5px;
        }
        span{
          display: block;
          font-size: 23px; font-weight: 500; color: #fff;
          line-height: 1;
          margin: 0; padding: 0;
          margin-bottom: 10px;
        }
        p{
          font-size: 17px; font-weight: 400; color: #fff;
          line-height: 1.3;
          margin: 0; padding: 0;
          margin-bottom: 20px;
        }
      }
    }
    img{
      margin: 0;
    }
    .customblock_fcs{
      padding-top: 45px;
      max-width: 935px;
      margin: 0 auto;
      text-align: left;
      padding-bottom: 7.5em;
      .desc{
        float: left;
        width: 444px;
        min-height: 20px;
        margin-right: 40px;
        .lgo_brand{
          padding-bottom: 15px;
        }
        h3{
          margin: 0; padding: 0; font-size: 33px; font-weight: 300; color: #000;
        }
        span{
          margin: 0; padding: 0; font-size: 25px; font-weight: 700; color: #000; 
        }
        .prices_t{
          span{
              display: block; clear: both;
              font-family: @lato;
              font-size: 17px; font-weight: 700; color: #000;
              line-height: 1;
              padding-bottom: 3px;
              b,strong{
                font-family: @lato;
                font-size: 24px; font-weight: 900;
              }
            }
            span.through{
              font-size: 18px; font-weight: 400; color: #000;
              i{ text-decoration: line-through; font-style: normal; }
            }
            small{
              font-size: 15px; font-weight: 700; color: #000;
            }
            clear: both;
        }
        .free_ongkir{
            p{
              margin: 0; padding: 0; font-size: 25px; font-weight: 900; color: #ee2724; 
              line-height: 1;
            }
            small{
              margin: 0; padding: 0; font-size: 13px; font-weight: 400; color: #000;
            }
        }
        a.views_prd{
          font-size: 15px; font-weight: 900; color: #fff;
          width: 206px;
          height: 32px;
          background-color: #fdbb30;
          padding-top: 4px;
          border-radius: 20px;
        }
        a.views_prd:hover,
        a.views_prd:focus{
          background-color: #FAAB04; 
          text-decoration: none;
        }
      }
      .pict{
        img{}
      }
    }
}

a.btn_brown_def,
button.btn_brown_def{
  background: none; 
  // border-radius: 0px;
  box-shadow: none; border: 0px;
  background-color: transparent;

  background-color: #835f20;
  padding: 8px 24px;
  text-transform: uppercase; 
  font-family: @font_set;
  font-size: 13px; font-weight: 700; color: #fff;
}
a.btn_brown_def:hover,
a.btn_brown_def:focus,
button.btn_brown_def:hover,
button.btn_brown_def:focus{
  opacity: 0.95;
  box-shadow: none; border: 0px;
  outline: none; background-color: #734C09;
  color: #fff;
}

section.default_sc#block_homesection{
  background-color: #e9e6e1; width: 100%; min-height: 450px; height: auto;
  .inside{
    padding: 25px 0px 50px;
    clear: both;
  }
}

.posabs_fulls{
  position: absolute;
  z-index: 60; width: 100%; height: 100%;
  top: 0px; left: 0px;
}

.lists_banner_home_dt{
  .items{
    background: url(../images/backs_itm_banner_home.jpg) no-repeat;
    width: 321px;
    height: 176px;
    .info{
      max-width: 175px;
      padding-left: 20px; padding-top: 23px;
      h3{
        margin: 0; padding: 0;
        display: block; line-height: 1;
        font-size: 29px; font-weight: 900; color: #000;
      }
      span{
        display: block; margin: 0; padding: 0;
        font-size: 19px; font-weight: 300; color: #000;
        b,strong{
          font-weight: 900; color: #000; font-size: 19px;
        }
      }
      span.price{
        margin: 0; padding: 0;
        font-size: 19px; font-weight: 900; color: #f45302;
        i{
          margin: 0; padding: 0;
          font-size: 15px; font-weight: 900; color: #000;
          text-decoration: line-through;
          line-height: 1;
        }
        line-height: 1;
      }
    }
    .pict.rights{
      position: absolute;
      bottom: 0px;
      right: 0px;
      bottom: 13px;
      img{}
    }
  }
}
.lists_banner_home_dt.new_picture{
  .items{
    width: auto;
    background: none;
  }
}

/* home section product **/
.back-orange{
  background-color: #f45302;
}
section.default_sc.blocks_home2{
  padding: 45px 0 15px;
  min-height: 500px; height: auto;
  width: 100%;

  .block_product_data_wrap{
    .top{
      background-color: #000;
      height: 42px; width: 100%;
      padding-top: 7px;
      margin-bottom: 10px;
      h6{
        margin: 0; padding: 0; text-align: center; display: block;
        font-size: 22px; font-weight: 700; color: #fff;
      }
    }

    margin-bottom: 40px;
    clear: both;
  }

  clear: both;
}
section.default_sc.blocks_home2.padding-0{
  padding: 0px;
}

.owl-pagination{
  margin-top: 0 !important;
  .owl-page{
    margin-left: 0px; margin-right: 0px;
    span{
      margin-left: 2px !important; 
      margin-right: 2px !important;
      background-color: transparent !important;
      font-size: 19px !important; 
      font-weight: 700 !important; 
      color: #fff;
    }
  }
  .owl-page:hover,
  .owl-page.active{
    font-size: 19px !important; 
    font-weight: 700 !important; 
    color: #fff !important;
    color: #fdbb30 !important;
  }
}

.lists_product_data{
    margin: 0; padding: 0;
    margin: 0;
    clear: both;
    .items{
        margin: 0;
        display: inline-block;
        vertical-align: top;
        max-width: 321px;
        width: auto;
        height: auto;
        // min-height: 420px;
        min-height: 405px;
        max-height: 405px;
        margin-bottom: 10px;
        // text-align: center;
        // padding: 15px 16px;
        background-color: #fff;
        border: 1px solid #dddddd;
        margin-right: 12px;

        .picture{
          .boxs_inf_head_n1{
            position: absolute;
            top: -1px; right: -1px;
            width: 102%; 
            height: 40px;
            background: url(../images/tops_product_infoFeatured_2.png)  no-repeat;
            background-size: 100% 100%;
          }
          .boxs_inf_head_n1.back2{
            background-image: url(../images/tops_product_infoFeatured_1.png);
          }
            img{
                margin-bottom: 0;
            }
        }
        .info.description{
          background-color: #fff;
          padding: 15px;
          p{
            margin: 0; padding: 0;
            padding-bottom: 5px;
            line-height: 1.3;
            height: 43px; 
            font-size: 16px; font-weight: 400; color: #000;

            // min-height: 40px;
            // max-height: 45px;
            min-height: 26px;
            max-height: 26px;
            overflow: hidden;
            font-size: 14px;
            word-break: break-word;
            line-height: 1.5;

            clear: left;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .block_price{
              span{
                display: block; clear: both;
                font-family: @lato;
                font-size: 17px; font-weight: 900; color: #ee2724;
                line-height: 1;
                padding-bottom: 3px;
                b,strong{
                  font-family: @lato;
                  font-size: 17px; font-weight: 900; color: #ee2724;
                }
              }
              span.price_trough{
                font-size: 15px; font-weight: 400; color: #7f7f7f;
                i{
                  text-decoration: line-through; font-style: normal;
                }
              }
              span.bottom_priceblack{
                font-size: 13px; font-weight: 700; color: #000;
                i{
                  text-decoration: line-through; font-style: normal;
                }
              }
            padding-top: 1rem;
            clear: both;
          }
          text-align: center;
        }

        a:hover{
            text-decoration: none;
            color: #000;
            .names{
                text-decoration: none; color: #000;
            }
        }
    }
}

.mb-0{
  margin-bottom: 0 !important;
}

// end lists_product_home
ul.lists_subCategory_data,
.lists_subCategory_data{
  list-style: none; margin: 0; padding: 0;
  margin-right: -20px;  
    li{
      list-style: none; margin: 0; padding: 0;
      text-decoration: none;
      margin:5px 5px;
      width: 256px; height: 220px;
      border: 1px solid #dddddd;
      img{ display: block; margin: 0 auto; text-align: center; }
      .names a,
      .names{
        font-size: 15px; font-weight: 900; color: #2e3192;
        a{
          color: #2e3192; text-decoration: none;
        }
        a:focus,
        a:hover{
          color: #000; text-decoration: none;
        }
      }
    }
}
.back-whiteimp{
  background-color: #fff !important;
}
.maw1070{
  max-width: 1070px !important;
}
section.block_bottom_home{
  background-color: #eaeaea;
  min-height: 275px; 
  height: auto;
  // max-height: 323px; 
  position: relative; z-index: 25;
  .w247{
    width: 247px;
  }
  .prelatife{
    padding-bottom: 1.5em;
  }
  .insides{
    .picts{
      position: absolute;
      bottom: 0px; left: 0px;
      // width: 183px; height: 241px;
      // margin-top: -18px;
    }
    .tops_tx{
      p{
        margin: 0; padding: 0;
        padding-top: 20px;
        padding-bottom: 15px;
        font-size: 17px; font-weight: 900; color: #6f6f6f;
      }
      ul{
        list-style: none;
        margin: 0; padding: 0;
        li{
          display: inline-block;
          padding: 0px 10px; 
          font-family: @lato;
          font-size: 17px; font-weight: 400; color: #6f6f6f;
          a{
            color: #6f6f6f;
            i.fa{
              font-size: 17px; color: #6f6f6f;
            }
          }
        }
        li:first-child{
          padding-left: 0;
        }
        li:last-child{
          padding-right: 0;
        }
      }
      clear: both;
    }
    .btm_tx{
      p{
        margin: 0; padding: 0;
        font-size: 17px; font-weight: 400; color: #6f6f6f;
        padding-bottom: 5px;
      }
      .bxs_form{
        form{
          .form-group{
            margin-right: 10px;
            input{
              border: 0px;
              box-shadow: none;
              background-color: #fff;
              width: 231px; height: 26px;
              font-size: 14px; font-weight: 400; color: #2b2b2b;
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              border-radius: 10px;
            }
          }
          button{
            border: 0px;
            box-shadow: none;
            background-color: #fbab19;
            width: 63px; height: 26px;
            padding-top: 3px;
            font-size: 14px; font-weight: 700; color: #fff;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
          }
        }
      }
      clear: both;
    }

    .bx_text.social{
      font-size: 18px; font-weight: 400; color: rgba(0,0,0, 0.75);
      span{
        display: inline-block;
        padding-top: 5px;
        font-size: 18px; font-weight: 900; color: rgba(0,0,0, 0.75);
      }
      a{
        font-size: 22px; font-weight: 300; color: rgba(0,0,0, 0.75);
        i.fa{
          font-size: 25px; color: rgba(0,0,0, 0.75);
        }
      }
    }
  }
}
.w200{
  width: 200px;
}
.maw1020{
  max-width: 1020px !important;
}

.tops_footer{
  padding: 38px 0 15px;
  text-align: center;
  p{
    margin: 0; padding: 0;
    line-height: 1.4;
    font-size: 13px; font-weight: 400; color: #ababab;
  }
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

footer.foot{
  position: relative;
  background-color: #fff;
  min-height: 150px;
  height: auto;
  z-index: 1;
  font-family: @lato;
  font-size: 12px; font-weight: 400; color: #000;
  .back-cream{
    background-color: #f2f2f2;
    padding: 20px 15px;
  }
  .insides_footer{
    // padding-bottom: 20px;
    margin: 0 auto;
    // max-width: 1000px;
    clear: both;
    span{
      display: block;
      margin: 0; padding: 0;
      font-size: 12px; font-weight: 900; color: #f45302;
      text-transform: uppercase;
    }
    .socmed_footer{
      a{
        text-decoration: none;
        i.fa{
          font-size: 18px; color: #367bbf;
        }
      }
    }
    ul{
      list-style: none;
      margin: 0; padding: 0;
      li{
        padding: 1px 0;
        a{
          font-size: 12px; font-weight: 400; color: #999;
          text-transform: capitalize;
          text-decoration: none;
        }
        a:hover,
        a:focus{
          text-decoration: none; color: #000;
        }
      }
    }
  }
  .backs_blue{
    background-color: #000;
    padding: 10px 0;
    p.t-copyrights{
      margin: 0; padding: 0;
      font-size: 13px; font-weight: 400; color: #fff;
      a{
        color: #fff; text-decoration: none;
      }
      a:focus,
      a:hover{
        text-decoration: none;
        color: #f5f5f5;
      } 
    }
  }
  clear: both;
}
// end footer
.maw1087 {
    max-width: 1087px;
}
.subpage{
  position: relative;
  z-index: 1;
  margin: 0; padding: 0;
  min-height: 450px; height: auto; width: 100%;
  background-color: #f3f3f3;
}
// insides page
.blocks_subpage_banner{
  width: 100%;
  // min-height: 725px;
  min-height: 635px;
  height: 635px; 
  // height: auto;
  position: relative;
  // z-index: 25;
  z-index: 10;  
  background-size:cover;
  background-repeat: no-repeat;
  display: table;
  vertical-align: middle; text-align: center;
  .blocks_text{
    display: table-cell; vertical-align: middle; text-align: center;
    .lines_whites_md{
      height: 1px; width: 50px;
      background-color: #fff;
    }
    h3.sub_title_p{
      display: block;
      margin: 0; padding: 0;
      padding-bottom: 20px;
      font-size: 30px; font-weight: 900; color: #fff; 
      text-align: center;
    }
    p{
      margin: 0; padding: 0; line-height: 1.4;
      font-size: 19px; font-weight: 400; color: #fff; 
      text-align: center; 
    }
  }
}
.blocks_subpage_banner.about{
  background-image: url(../images/ill-about_1.jpg);
}

section.blocks_middle_about1{
  min-height: 594px; height: auto;
  width: 100%;
  background-color: #e4e4e4;
  .pl60{
    padding: 0 60px;
  }
}
section.blocks_middle_about1.picts_about_1{
  background: #e4e4e4 url(../images/pict-middle-about_1.jpg) top right no-repeat;
}

section.blocks_bottom_about{
  min-height: 930px; height: auto;
  width: 100%;
  background:#ec5307 url(../images/picts_bottom_about_2.jpg) bottom center no-repeat;
  .insides{ text-align: center;
    padding-top: 65px;
    h4.sub_title{
      font-family: @qwigley;
      font-size: 49px; font-weight: 400;
      color: #fff;
    }
    h2{
      font-size: 49px; font-weight: 300; color: #fff;
    }
    .row{
      .col-md-6{
        padding: 0 25px;
      }
      .col-md-6:first-child{
        border-right: 1px solid #fff;
        min-height: 205px; height: auto;
      }
    }
    p{
      font-weight: 400; color: #fff; font-size: 19px;
    }
    clear: both;
  }
  .maw1022{
    max-width: 1022px;
  }
}

.subpage.defaults_static{
  background-color: #f3f3f3;
  width: 100%; min-height: 400px; height: auto;
  .top_title_page{
    min-height: 63px; height: auto;
    background-color: #fff; width: 100%;
    h2.title_pg{
      display: block; 
      margin: 0; padding: 0;
      padding-top: 15px;
      font-family: @lato; line-height: 1;
      font-weight: 900; 
      color: #000;
      font-size: 25px; 
    }
    width: 100%;
  }

  .middle.inside_content{
    margin: 0px; padding: 0px;

    padding-bottom: 3.5em;
  }

  clear: both;
}
.lists_data_promotions{
  .items{
    height: auto;
    margin-bottom: 2em;
    img{
      border: 1px solid #fff;
    }
  }
  clear: both;
}

.contacts_block_wrap{
  .maw410{
    max-width: 410px;
  }
  .lefts_cont{
    span{
      display: block;
      margin: 0; padding: 0; margin-bottom: 25px;
      font-weight: 300; font-size: 25px; color: #000;
      line-height: 1.3;
    }
    p{
      margin: 0; padding: 0;
      font-size: 17px; font-weight: 300; color: #000; line-height: 1.4;
      margin-bottom: 25px;
    }
  }
  .rights_cont{

  }
  clear: both;
}
.pLocationstore.middles_pgStatic{
  h3{
    font-size: 18px; font-weight: 700; color: #f45302;
  }
  form{
    .form-group{
      margin-right: 10px;
    }
    label{
      font-size: 16px; font-weight: 300; color: #000;
    }
    button{
      background: none;
      padding-top: 1px;
      background-color: #f45302;
      font-size: 18px; font-weight: 700; color: #fff;
      width: 100px; height: 30px;
    }
    select{
      width: 248px; height: 30px;
    }
  }
}
.list_locaion_defaults_d{
  padding-top: 50px;
    .items{
      margin-bottom: 35px;
      .titles{
        font-size: 25px; font-weight: 700; color: #f45302;
      }
      p{
        margin-bottom: 0;
        font-size: 16px; font-weight: 300; color: #353535;
        b,strong{
          font-weight: 700; color: #353535;
        }
      }
    }
    clear: both;
    .items.lasts,
    .items:last-child{
      margin-bottom: 0;
    }
    .item{
      max-width: 345px;
      margin: 0 auto;
    }
}

.block_top_lines_loc{
  .lines-grey{
    height: 1px; background-color: #dcdcdc;
  }
  span.b_title{
    display: block;
    margin: 0 auto; width: 185px;
    font-size: 16px; font-weight: 400; color: #979696;
    background-color: #f3f3f3;
    position: relative;
    top: -14px;
  }
}

.outers_listing_news.defaults_t{
  .items{
    max-width: 312px; padding-bottom: 35px;
    .pict{
      img{}
    }
    .desc{
      padding-top: 10px;
      .titles{
        margin: 0; padding: 0;
        font-family: @lato;
        font-size: 18px; font-weight: 400; color: #000;
        line-height: 1.2; 
        height: 45px;
        overflow: hidden;
      }
      a.btns_news_default{
        margin: 0; padding: 0;
        background: none; background-color: transparent;
        box-shadow: none; border: 0px; border-radius: 0px;
        font-family: @lato; text-transform: uppercase;
        font-size: 13px; font-weight: 700; color: #f45302;
      }
    }
    clear: both;
  }
  .items.featured{
    max-width: inherit;
    .pict{
      img{ width: 100%; }
    }
    .desc{
      .titles{
        font-size: 22px;
      }
    }
  }
}

.block_details_news{
  h3{
    margin: 0; padding: 0; margin-bottom: 20px;
    font-size: 35px; font-weight: 400; 
  }
  ul{
    list-style: none; margin: 0; padding: 0;
  }
  ul li,
  p{
    margin: 0; padding: 0;
    font-size: 16px; font-weight: 400; color: #000; line-height: 1.4;
    margin-bottom: 20px;
  }
  ul li{
    margin: 0; margin-bottom: 0;
    padding: 4px 0;
  }
}
.blocks_others_article{
  .tops{
    h5{ margin: 0; padding: 0; font-size: 18px; font-weight: 700; color: #000; padding-bottom: 20px; }
  }
}
.blocks_bottom_backTips{
  height: 70px;
  background-color: #fff; width: 100%;
  .inside{
    a.btns_bloc_back_saran{
      margin: 0; padding: 0; line-height: 1;
      font-size: 20px; font-weight: 700; color: #f45302; text-transform: uppercase;
    }
  }
  padding: 23px 0;
}

.lists_subCategory_dataLanding{
  .items{
    width: 322px;
    min-height: 415px;
    height: auto;
    // height: 422px;
    background-color: #fff;
    border: 1px solid #dddddd;
    margin-bottom: 11px;
    .pict{
      img{ border: 0px; }
    }
    .titles{
      margin: 0; padding: 0;
      padding-top: 11px;
      font-size: 17px; font-weight: 900; color: #f45302;
      a{ color: #f45302; text-decoration: none; 
         font-size: 17px; font-weight: 900; color: #f45302;
      }
      clear: both;
    }
  }
}

.defaults_productAlfabet{
  background-color: transparent;
  position: relative;
  .boxs_greyAlfabet{
    min-height: 925px; height: auto; width: 100%;
    background: url(../images/backs_top_cultures_top-pgAlfabet.jpg) top center no-repeat, url(../images/backs_boxgrey_middle_productAlfabet.jpg) bottom center repeat-x;
    border: 1px solid #fff;
    position: relative;
    z-index: 5;
    .tops_p{
      padding: 0 60px;
      h3{
        margin: 0; padding: 0; line-height: 1.2;
        padding-top: 40px;
        font-size: 35px; font-weight: 900; color: #000;
      }
      .block_rightpict{
        float: right;
        .pictures{
          img{}
        }
      }
    }
    .middles{
      padding: 7em 60px;
    }
  }
  .back_shadow{
    position: absolute; z-index: 2;
    left: 0px; bottom: -25px; 
    background: url(../images/backs_shadow_bottomLandingProduct-alfa.png) no-repeat;
    width: 100%;
    height: 31px;
  }
  padding-bottom: 7em;
}
.lists_default_bloc_alfabet{
  .items{
    padding-bottom: 20px;
    span.top_alfa{
      display: block;
      background: #fbab19; width: 42px; height: 29px;
      font-size: 14px; font-weight: 900; color: #fff;
      border-radius: 5px;
      padding-top: 5px; text-align: center;
    }
    .sub_alfa{
      padding-top: 14px;
      ul{
        margin: 0; padding: 0; list-style: none;
        li{
          display: block;
          padding: 1px 0;
          a{
            font-family: @lato;
            font-size: 14px; font-weight: 400; color: #000;
          }
        }
      }
    }
  }
}
.grid-item { width: 25%; }

.flot_filter_top_productPg{
  text-align: right;
  .block_itm{
    padding: 14px 20px 0px;
    min-height: 63px;
    border-left: 1px solid #b3b3b3;
    form{
      margin: 0; padding: 0; padding-top: 3px;
      label{
        font-size: 15px; font-weight: 400; color: #000;
        display: inline-block;
        padding-right: 18px;
      }
      select{
        width: 139px; height: 28px;
        background-color: #e7e7e7;
        border-radius: 5px; border: 0px;
        display: inline-block;
        padding-top: 3px;
      }
    }
  }
  .block_itm.filter_pagein2,
  .block_itm.filter_pagin{
    padding-top: 18px;
    font-size: 15px; font-weight: 400; color: #000;
    a{
      text-decoration: none;
      font-size: 15px; font-weight: 400; color: #000;
      i.fa{
        color: #b2b2b2; font-size: 16px;
      }
    }
    a:hover,
    a:focus{
      text-decoration: none;
      i.fa{ color: #000; }
    }
  }
  .block_itm.filter_pagein2{
    border-right: 1px solid #7f7f7f;
  }
}
.subpage.defaults_static.def_productDetail{
  .top_title_page{
    a.bloc_backProduct_list{
      margin: 0; padding: 0;
      padding-top: 15px;
      font-size: 15px; font-weight: 400; color: #000;
      i.fa{
        font-size: 16px; color: #000;
      }
    }
    a.bloc_backProduct_list:hover,
    a.bloc_backProduct_list:focus{
      text-decoration: none;
      color: #000;
    }
  }
  .bloc_detail_products{
    .detc_picture_big{
      background-color: #fff;
      border: 1px solid #dddddd;
      width: 100%;
      min-height: 712px; height: auto;
      img{ width: auto; max-width: 100%; }
    }
    .rights_cont{
      .tops_c_bannerSale{
        background-color: #ee2724; width: 100%;
        min-height: 25px; height: auto;
        padding: 8px 0;
        span{
          margin: 0; padding: 0; display: block; text-transform: uppercase;
          font-size: 27px; font-weight: 900; color: #fff; text-align: center;
        }
      }
      .bloctn_detailtop{
        text-align: center;
        .bloc1{
          min-height: 105px; height: auto; width: 100%;
          padding-top: 20px;
          padding-bottom: 30px;
          h2{
            display: block;
            margin: 0; padding: 0;
            font-size: 28px; font-weight: 900; color: #000;
            padding-bottom: 7px;
          }
          h5{
            margin: 0; padding: 0;
            font-size: 20px; font-weight:400; color: #000;
          }
          h5.item_code{
            font-size: 16px;
          }
          
          clear: both;
        }
        .bloc2.block_price{
          border-top: 1px solid #848484;
          padding-top: 28px;
          padding-bottom: 28px;
          span{
            display: block; clear: both;
            font-family: @lato;
            font-size: 24px; font-weight: 900; color: #ee2724;
            line-height: 1;
            padding-bottom: 3px;
            b,strong{
              font-family: @lato;
              font-size: 31px; font-weight: 900; color: #ee2724;
            }
          }
          span.price_trough{
            font-size: 19px; font-weight: 400; color: #7f7f7f;
            i{
              text-decoration: line-through; font-style: normal;
            }
          }
          span.bottom_priceblack{
            font-size: 16px; font-weight: 700; color: #000;
            i{
              text-decoration: line-through; font-style: normal;
            }
          }

          span.info_sat{
            font-size: 17px; font-weight: 700; color: #000;
            i{
              text-decoration: line-through; font-style: normal;
            }
          }

        clear: both;
        }
        .bloc3.boxs_formn_buying{
          border: 1px solid #dddddd;
          padding: 10px 0;
          form{
            margin: 0; padding: 0;
            .form-group{ margin-right: 10px; 
              label{
                font-size: 12px; font-weight: 700; color: #585858; text-transform: uppercase; margin-bottom: 0;
              }
              input{
                width: 62px; height: 32px;
                border-radius: 5px;
                box-shadow: none;
                border: 1px solid #aeaeae;
              }
            }
            button.btns_bckOrange{
              border: 0px;
              box-shadow: none;
              padding: 8px 19px;
              font-size: 14px; font-weight: 900; color: #fff;
              background-color: #f45302;
              border-radius: 10px;
            }
          }
          clear: both;
        }
        .bottoms_descriptions{
          text-align: left;
          // margin-left: 20px;
          p{
            margin: 0; padding: 0; padding-bottom: 20px;
            font-size: 15px; font-weight: 700; color: #000; line-height: 1.3;
            b,strong{ font-weight: 700; color: #000; }
          }
          p.mb-0{
            margin-bottom: 0px; padding-bottom: 4px;
          }
          ul{
            padding: 0; margin: 0; margin-left: 20px;
            li{
              padding: 1px 0;
              font-size: 15px; font-weight: 400; color: #000;
            }
          }
        }
        clear: both;
      }
      clear: both;
    }
  }
}
a.back_promotion,
.back_promotion{
  padding-top: 20px;
  font-size: 15px; font-weight: 400; color: #000;
  i.fa{
    font-size: 16px; font-weight: 400; color: #000;
  }
}
.detail_data_promotions{
  max-width: 960px;
  h2.title_sb {
      margin: 0 0 5px;
      padding: 0;
      font-size: 27px;
      font-weight: 400;
      color: #333;
  }
  .block_info{
    max-width: 590px;
    p{
      font-size: 16px;
      font-weight: 400;
      color: #313131;
      line-height: 1.6;
      strong, b{
        font-size: 18px;
      }
    }
  }
}
.table_out{
  display: table;
  width: 100%; height: 100%; text-align: center; vertical-align: middle;
  .table_in{
    display: table-cell;
    width: 100%; height: 100%; text-align: center; vertical-align: middle;
  }
}

/*----------------------- Midle Text Content -----------------*/
.content-text{
      font-family: @font_set;
      font-weight: 300;
      font-size: 16px;
      color: #000;
  }

  .content-text h1,
  .content-text h2,
  .content-text h3,
  .content-text h4,
  .content-text h5{ font-family: @font_set; margin: 0; padding: 0; margin-bottom: 20px; }

  .content-text h1{  }
  .content-text h2{  }
  .content-text h3{ clear: both; margin: 0px; margin-bottom: 0px; font-size: 30px; font-family: @font_set; font-weight: 700; color: #000; line-height: 1.3; }
  .content-text h4{}
  .content-text h5{ clear: both; margin: 0px; margin-bottom: 20px; font-size: 18px; font-family: @font_set; font-weight: 700; color: #000; line-height: 1.2; }

  .content-text .m-0{
    margin-bottom: 0;
  }

  .content-text ul,ol{
    margin: 0; margin-right: 0;
  }
  .content-text p{
      margin: 0px;
      margin-bottom: 20px;

      font-family: @font_set;
      font-weight: 300;
      font-size: 16px;
      color: #000;
      line-height: 1.4;
  }

  .content-text p a{
      text-decoration: none;
      color: #636363;
  }
  .content-text span.br5{
    clear: both; margin-bottom: 0;
    height: 5px;
  }
  .content-text span{
      margin: 0;
      margin-bottom: 25px;

      font-family: @font_set;
      font-weight: 500;
      font-size: 16px;
      color: #636363;
  }
  img.pc-center{
      margin: 0 auto;
      display: block;
      text-align: center;
  }
  .content-text ol,
  .content-text ul{
    li{
      padding: 3px 0; line-height: 1.4;
    }
  }

#back-top {
    color: #FFF;
    background: none repeat scroll 0% 0% #FFF;
    font-size: 20px;
    line-height: 100%;
    display: inline-block;
    position: fixed;
    z-index: 500;
    // right: 0px;
    // bottom: 0px;
    bottom: 0px;
    right: 5px;
    width: 35px;
    height: 35px;
    text-align: center;
    top: inherit !important;

    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:    0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    box-shadow:         0px 0px 4px 0px rgba(0, 0, 0, 0.15)
}
#back-top i.fa {
    color: #565656;
}

.out_table{
  position: relative;
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  .in_table{
      display: table-cell;
      text-align: center; 
      vertical-align: middle;
      width: 100%;
      height: 100%;
  }
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.carousel.fade {
    opacity: 1;
}
.carousel.fade .item {
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    left: 0 !important;
    opacity: 0;
    top:0;
    position:absolute;
    width: 100%;
    display:block !important;
    z-index:1;
}
.carousel.fade .item:first-child {
    top:auto;
    position:relative;
}
.carousel.fade .item.active {
    opacity: 1;
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    z-index:2;
}

.pict_full{
  img{ width: 100%; max-width: 100%; }
}

.box-form.tl-contact-form{
  text-align: left;
  .mw665{
    max-width: 785px;
    p{
      margin: 0; padding: 0; margin-bottom: 20px;
      font-size: 15px; font-weight: 300; color: #6e6e6e;
    }
  }

  form{
    .form-group{ 
      margin-bottom: 18px;
      label{
        font-family: @expletus;
        font-weight:700; font-size:16px; color:#3e3e3e;
        margin-bottom: 3px; text-align: left;
      }
      input{
        border:0px;
        background: none; background-color: transparent;
        width: 385px; height: 33px;
        border-bottom: 0px; border-radius: 0px;
        border: 1px solid #cdcdcd; border-radius: 5px;
        text-shadow:none; box-shadow: none;
        font-size: 14px;
        // max-width: 400px;
      }
      textarea{
        margin: 0;
        background: none;
        background-color: transparent;
        border: 0px;
        border-bottom:0;

        border: 1px solid #cdcdcd; border-radius: 5px;
        box-shadow: none;
        text-align: left;
      }
    }
    button.btns-submit-bt{
      background: none; border-radius: 0px;
      box-shadow: none; border: 0px;
      background-color: transparent;
      text-transform: uppercase; font-family: @font_set;
      font-size: 20px; font-weight: 700; color: #3e3e3e;
    }
    button.btns-submit-bt:hover{
      opacity: 0.9;
      background-color: transparent;
    }
  }
}
.boxs_cont_carts{
  .rghts_cart{
   table.tables_cart{
    thead{
      tr{
        th:last-child{
          text-align: left;
        }
      }
    }
    tbody{
      tr:first-child{
        td{
          padding-top: 15px;
        }
      }
    }
    tr{
      td{
        font-family: @Roboto;
        font-size: 13px; font-weight: 500;
        color: #636363;
        padding: 4px 0;
        border-bottom: 0;
        border: 0px;
        b.g_total{
          font-weight: 700; color: #caa755;
        }
      }
    }
   } 
  }
    table.tables_cart{
      margin: 0;
        thead{
          tr{
            th{
              background-color: transparent;
              padding: 0px;
              font-family: @font_set;
              font-size: 16px; font-weight: 700; color: #ab8b4f;
              padding: 6px 0;
            }
            th:last-child{
              text-align: right;
            }
          }
        }
        tbody{
          tr{
            td{
              padding: 15px 0;
              img.inline-pict{
                float: left;
              }
              font-family: @Roboto;
              font-size: 13px; font-weight: 400; color: #515151;
              a{
                font-family: @Roboto;
                font-size: 13px; font-weight: 500; color: #515151;
              }
              a:hover,
              a:focus{
                color: #000; text-decoration: none;
              }
              input[type=number]{
                border-radius: 0px;
                width: 66px; height: 30px;
                border: 1px solid #dcdcdc;
              }
            }
            td:last-child{
              text-align: right;
            }
          }
        }
      clear: both;
    }
  clear: both;
}

a.btns_set_default,
button.btns_set_default{
  background: none; border-radius: 0px;
  box-shadow: none; border: 0px;
  background-color: transparent;

  width: 229px; height: 35px;
  background: url(../images/backs_default_gold_button.png) no-repeat;
  padding-top: 5px;
  text-transform: uppercase; font-family: @font_set;
  font-size: 19px; font-weight: 700; color: #fff;
}
a.btns_set_default:hover,
a.btns_set_default:focus,

button.btns_set_default:hover,
button.btns_set_default:focus{
  opacity: 0.9;
  box-shadow: none; border: 0px;
  outline: none; background-color: transparent;
  color: #fff;
}
.lines-grey{
  height: 2px;
  background-color: #8a8988;
}
.inline-pict{
  display: inline-block;
  vertical-align: middle;
}

.boxs_fill_information_order{
  h3{
    margin: 0; color: #000;
    margin-bottom: 15px;
  }
  .form-group{
    label{
      text-align: left;
      font-size: 13px;
      font-weight: 400; color: #000;
      font-family: @lato;
    }
    span.required{
      margin-bottom: 0;
      font-size: 13px; color: red; display: inline-block;
    }
    input{
      background-color: #fff;
      border: 0px; border-radius: 0px;
      box-shadow: none;
      border: 1px solid #ccc;
      font-family: @lato;
      font-size: 13px; font-weight: 400;
    }
    select,textarea{
      font-family: @lato;
      border: 0px; border-radius: 0px;
      box-shadow: none;
      border: 1px solid #ccc;
    }

  }
  button.btn{
      border: 0px;
      font-size: 13px; font-weight: 500; color: #fff;
      text-transform: uppercase;

      background-color: #fbab19;
      padding: 7px 18px;
      border-radius: 0px;
      font-family: @Roboto;
    }
    button.btn:hover,
    button.btn:focus{
      background-color: #CF8A0D;
      color: #fff;
    }
}

.outer-cont-carts{
  font-family: @lato;
    .left-conts-tabl-cart{
        // ol.breadcrumb{
        //     margin-bottom: 0px;
        //     padding: 0px;
        //     li{
        //         a{ text-decoration: none; font-size: 20px; font-weight: 400; color: #848482; }
        //         a:hover{ text-decoration: none; color: #000; }
        //     }
        //     li.active{
        //         a{ color: #000; }
        //     }
        // }

        table.shopcart{
            margin-bottom: 25px;
            thead{
                td{
                    background-color: #f45302;
                    font-size: 12px; font-weight: 700; color: #fff !important;
                    font-family: @lato;
                }
            }
            tr{
                td{ padding-left: 17px;
                    font-size: 12px; font-weight: 400; color: #151515;
                    font-family: @lato;
                    span{
                      margin: 0;
                    }
                    span.price{ font-size: 15px; font-weight: 400; color: #151515; }
                    input[type=number]{
                        width: 40px;
                        height: 22px;
                        padding-left: 5px;
                    }
                    .pic{
                      img{
                        margin: 0;
                        max-width: 90px;
                        max-height: 75px;
                        border: 1px solid #ccc;
                      }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        padding-top: 19px;
                        padding-bottom: 20px;
                        border-bottom: 1px solid #aaaaa7;
                        span.name{ font-size: 14px; font-weight: 400; color: #151515; }
                        span.cat{ font-size: 10px; font-weight: 700; color: #151515; }
                        span.totl{
                            font-size: 14px; font-weight: 600; color: #151515;
                        }
                        span.name{
                          font-size: 16px; font-weight: 300; color: #151515;
                        }
                        span.cat{
                          font-size: 14px; font-weight: 700; color: #151515;
                        }
                    }
                }
                tr.sub_total{
                    td{
                        padding-bottom: 9px;
                        padding-top: 9px;
                    }
                }
            }
            .btn-delete-cart{
                i.fa{ color: #000; }
            }
        }
    }
    
    a.btn{
      border: 0px;
      font-size: 12px; font-weight: 700; color: #fff;
      text-transform: uppercase;

      background-color: #fbab19;
      padding: 7px 18px;
      border-radius: 0px;
      i.fa{
        font-size: 16px;
      }
    }
    a.btn:hover,
    a.btn:focus{
      background-color: #CF8A0D;
      color: #fff;
    }
    a.btn.btn-delete-cart{
      background-color: transparent;
    }
}

.bloc_breadcrumb{
  ol.breadcrumb{
    background-color:transparent;
    li{
      font-size: 15px;
      font-weight: 700;
      color: #000;
      font-family: @lato;
      a{
        text-decoration: none;
        font-size: 15px;
        font-weight: 700;
        color: #000;
        font-family: @lato;
      }      
    }
  }
}

.m-ins-myaccount{
  border: 1px solid #ddd;
  .box-infomation-account,
  .box-account-history{
    h1{
      font-size: 23px;
    }
    h4{
      font-size: 16px;
    }
  }
  .basic-information{
    input{ 
      border-radius: 0px;
    }
    button{
      background-color: #fbab19;
      border-radius: 0px;
      border: 0px;
    }
    button:hover,
    button:focus{
      background-color: #E39300;
    }
  }
  margin-bottom: 60px;
}


@import 'subpage.less';