.views_mobile.bx_text.social2{
	span{
		font-size: 17px;
		font-weight: 900;
		color: #000;
	}

	ul{
		padding-top: 0.5rem;
		li{
			display: block;
			padding: 0.3rem 0;
			text-align: left;
			a{
				i.fa{
					color: #000;
					font-size: 17px;
				}

				font-family: Lato,serif;
				font-size: 15px;
				font-weight: 400;
				color: #000;
			}
		}
		margin: 0px;
		margin-bottom: 0;
	}

	display: inline-block;
	clear: both;
}

.blocks_tofilter_ft{
	select{
		font-size: 13px;
		max-width: 240px;
		margin: 0 auto;
	}
}

section.block_bottom_home .insides .bx_text.social a{
	font-size: 18px;
}

.inline-block{
	vertical-align: middle;
	display: inline-block;
}
.pl-10{
	padding-left: 15px;
}
form.filters_det_kategori{
	label{
		padding-right: 10px;
	}

	select.form-control{
		font-size: 13px;
	}
	padding-top: 10px;
	padding-right: 15px;
}

.outs_breadcrumbs{
	nav{
		ol.breadcrumb{
			li.breadcrumb-item{
				a{
					font-size: 15px;
					font-weight: 700;
					color: #2b2b2b;
				}
				font-size: 15px;
				font-weight: 700;
				color: #2b2b2b;
			}
			background: none;
			background-color: transparent;
			margin-bottom: 0;
			padding: 2rem 0 0;
		}
	}
	clear: both;
}

section.default_sc.blocks_home2 .block_product_data_wrap .top h6{
	font-size: 20px;
}
section.default_sc.blocks_home2 .block_product_data_wrap .top{
	height: 45px;
	padding-top: 9px;
	margin-bottom: 10px;
}

.m-ins-myaccount .basic-information button{
	font-size: 14px;
    font-weight: 700;
    color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
a {
    color: #6f6f6f;
    text-decoration: none;
}

.def_link_paginations{
	ul.pagination{
		margin-bottom: 0;
		display: flex;
		justify-content: center;
		li.page{
			a{
				color: #909090;
				font-size: 17px;
				font-weight: 700;
				background-color: transparent;
				border: 0px;
			}
		}
		li.page.selected{
			a{
				color: #000;
			}
		}
	}
}
.outers_listing_news.defaults_t .items.featured .desc .titles{
	height: auto;
}

.header-affixs.affix-top{ top: -1000px; position: fixed; visibility: collapse; }
.header-affixs.affix{ top: 0px; left: 0px; position: fixed; visibility: initial; }
.header-affixs{
    // background-color: rgba(0, 146, 223, 0.95); #f37021
    background-color:#ffffff;
    width: 100%;
    z-index: 1000;
    height: 90px;
    border-bottom: 3px solid #000;
    z-index: 100000;
    .lgo_web_headrs_wb{
      padding-top: 0.5rem;
      a{
        display: block;
        max-width: 350px;
      }
    }
}

.menu-taffix{
  padding-top: 1.3rem;
}
.menu-taffix ul{ margin: 0; padding: 0px; }
.menu-taffix ul li{ padding: 0px; padding: 0 5px; }
.menu-taffix ul li a{ font-size: 14.5px; font-weight: 700; color: #555555; text-decoration: none; text-transform: uppercase; }
.menu-taffix ul li.active a,
.menu-taffix ul li a:hover{ text-decoration: none; color: #000000; }


@media screen and (max-width: 767px) {
	
	.lists_subCategory_dataLanding .items{
		width: auto;
		min-height: 270px;
		height: auto;
		margin: 0 0.5rem 0.8rem;
	}
	.lists_subCategory_dataLanding .items{
		.titles{
			padding: 1rem 0.3rem;
		}
	}
	
	.subpage.defaults_static .top_title_page h2.title_pg {
	    font-size: 17px !important;
	}
	.subpage.defaults_static .top_title_page{
		min-height: 45px;
	}
	.lists_subCategory_dataLanding .items .titles a{
		line-height: 1.15;
		font-size: 16px;
		display: block;
	}

	.inside_content.middle .pagination{
		display: flex;
		margin: 1rem auto;
		justify-content: center;
	}

	.subpage{
		.top_title_page{
			.container{
				padding-left: 0 !important;
				padding-right: 0 !important;
			}
			.row.default{
				margin: 0px !important;
				[class*=span], [class*=col-xs], [class*=col-md], [class*=col-lg], [class*=col-sm]{
					padding: 0px !important;
				}
			}
		}
		clear: both;
	}

	.flot_filter_topsProducts{
		.bx_filters{
			select.form-control{
				border-radius: 0px;
				font-size: 13px;
				color: #000;
				border: 0px;
				box-shadow: none;
			}
			padding: 0 0.5rem;
		}
		margin: 1rem 0 0;
		padding: 0;
		border-top: 1px solid rgba(204,204,204, 0.5);
		.border-rights{
			border-right: 1px solid rgba(204,204,204, 0.5);
		}
	}

	.top_title_page.margin-bottom-40.pgn_product{
		margin-bottom: 15px !important;
	}

	.tops_footer{
		padding-top: 15px;
	}
	section.block_bottom_home{
		padding-bottom: 0rem !important;
	}

	section.block_bottom_home .insides .tops_tx ul li span{
		width: 27px;
		display: inline-block;
	}
	section.block_bottom_home .insides .tops_tx ul li{
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
	}

	.blocks_dn_widths{
		max-width: 250px;
		display: block;
		margin: 0 auto;
		text-align: left;
	}
	.bx_text.social2 ul li span{
		display: inline-block;
		min-width: 25px;
	}
	section.block_bottom_home .insides .tops_tx p{
		padding-top: 30px;
	}

	.block_product_data_wrap .lists_product_data .items {
	    margin: 0 auto 10px;
	}

	.header-affixs{
		display: none !important;
	}

}

@media screen and (min-width: 1650px) {

	section.blocks_bottom_about{
		background-size: cover;
		background-position: top center; 
	}

}